.test div{
	background: white;
	border: 1px solid red;
	width: 30%;
	height: 30px;
	margin-bottom: 40px;
	transition: all 1s ease-out;
}
.test div:last-child{
	margin-bottom: 0;
}
.test{
	padding: 40px 5%;
	border: 1px solid green;
}
.test:hover div{ 
	width: 100%;
}
